<div class="container">
    <div class="search">
        <h1>Github Search</h1>
      </div>
      <p>This App will help you look for your repositories using your username just fill in your username and click
        enter.</p>
      <form action="">
        <div class="formgroup">
          <input class="form-control" size="175" style="padding: 1%; font: size 15px;;" fo type="text" placeholder=" please enter your username...."
            [(ngModel)]="username" name="username" (keyup)="findProfile()">
          
        </div>
      </form>
      <div class="person">
        <div class="profile" *ngIf="profile">
          <div class="row">
            <img class="img-fluid" src="{{profile.avatar_url}}" alt="Profile image">
      
            <ol class="list-group">
              <li class="list-group-item"><strong>Username:</strong> {{profile.login}}</li>
              <li class="list-group-item"><strong>Location:</strong> {{ profile.location }}</li>
              <li class="list-group-item"><strong>Email:</strong>{{profile.email}}</li>
              <li class="list-group-item"><strong>Bio:</strong> {{profile.bio}}</li>
              <li class="list-group-item"><strong>Member Since:</strong> {{profile.created_at}}</li>
          </ol>
          <div class="portfolio">
           <p>
            <span class="badge badge-success">Followers: {{ profile.followers }}</span>
            <span class="badge badge-info px-3">Following: {{ profile.following }}</span>
            <span class="badge badge-success">gists: {{profile.public_gists}}</span>
            <span class="badge badge-primary">Public Repos:{{ profile.public_repos }}</span>
      
            <br>
       <p>
              <a href="{{profile.html_url}}" target="_blank" class=" badge badge-info px-3">View profile on github</a>
      
            </p>
      
      
      
        </div>
           
      
        </div>
        <div class="repos">
          <h5>Repositories</h5>
          <div class="row">
            <div class="col-md-12">
              <div class="card" *ngFor="let repos of repos">
                <div class="card">
                  <a href="{{repos.html_url}}" target="blank" class="view btn btn-success">View this project on github</a>
                  
                  <div class="name">
                    <p>{{repos.name}}</p>
                  </div>
                  <div class="card-body">
                    <p>{{repos.description}}</p>
                  </div>
                  
                </div>
      
              </div>
            </div>
          </div>
        </div>
      
      </div>
      </div>
      </div>